asgiref==3.3.1
click==7.1.2
Django==3.1.7
djangorestframework==3.12.2
fastapi==0.63.0
Flask==1.1.2
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
h11==0.12.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.2
pydantic==1.8.1
pytz==2021.1
six==1.15.0
SQLAlchemy==1.4.2
sqlparse==0.4.1
starlette==0.13.6
typing-extensions==3.7.4.3
uvicorn==0.13.4
Werkzeug==1.0.1
